@model BDAS2_DvorakovaKahounova.Models.Osoba
<div class="login-page">
    <div class="container-login">
        <h2 class="h2-login">Přihlášení</h2>
        <form asp-action="Login" method="post">
            <div class="input-container">
                <input asp-for="EMAIL" type="text" id="EMAIL" required="" />
                <label for="EMAIL" class="label">Email:</label>
                <div class="underline"></div>
                @if (ViewBag.IsLoginAttempted)
                {
                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                }
            </div>
            <div class="input-container">
                <input type="password" name="heslo" id="heslo" required="" />
                <label for="heslo" class="label">Heslo:</label>
                <div class="underline"></div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Přihlásit se</button>
        </form>
        <div class="text-center mt-3">
            <p class="p-login">Ještě nemáte účet?</p>
            <a href="@Url.Action("Register", "Osoba")" class="text-custom">Zaregistrujte se!</a>
        </div>
    </div>
</div>


@* 


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
} *@