/* BARVICKY */
:root {
    --fialova: #6B4E71; /* fialkova */
    --tmaveModra: #3A4454; /* tmave modra */
    --svetleModra: #53687E; /* svetle modra */
    --text-color: #333; /* Barva textu */
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1 {
    color: var(--fialova);
}

h2 {
    color: var(--fialova); /* Barva nadpisu */
}

/* --Login--*/

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Výška stránky */
}

    .login-page h2 {
        color: var(--fialova);
        margin-top: 0; /* Nastaví vrchní odsazení na nulu */
        margin-bottom: 1.5rem; /* Nastaví dolní odsazení */
    }

    .login-page .container {
        max-width: 300px; /* Maximální šíøka formuláøe */
        margin: auto; /* Vycentrování formuláøe */
    }

    .login-page .btn {
        font-size: 16px; /* Velikost písma pro tlaèítko */
        background-color: var(--svetleModra);
        border-color: var(--svetleModra);
    }

        .login-page .btn:hover {
            background-color: var(--tmaveModra); /* Barva pøi hoveru */
        }

    .login-page .text-custom {
        color: var(--tmaveModra);
        text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
    }

        .login-page .text-custom:hover {
            text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
        }

/* --Konec loginu--*/

/* --Registrace-- */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Výška stránky */
}

.register-page h2 {
    color: var(--fialova);
    margin-top: 0; /* Nastaví vrchní odsazení na nulu */
    margin-bottom: 1.5rem; /* Nastaví dolní odsazení */
}

.register-page .container {
    max-width: 300px; /* Maximální šíøka formuláøe */
    margin: auto; /* Vycentrování formuláøe */
}

.register-page .btn {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--svetleModra);
    border-color: var(--svetleModra);
}

    .register-page .btn:hover {
        background-color: var(--tmaveModra); /* Barva pøi hoveru */
    }

.register-page .text-custom {
    color: var(--tmaveModra);
    text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
}

    .register-page .text-custom:hover {
        text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
    }
    
/* --konec registrace-- */

.btn {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--svetleModra);
    border-color: var(--svetleModra);
}

    .btn:hover {
        background-color: var(--tmaveModra); /* Barva pøi hoveru */
    }

.text-custom {
    color: var(--tmaveModra);
    text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
}

    .text-custom:hover {
        text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
    }
