/* BARVICKY */
:root {
    /*--fialova: #6B4E71;*/ /* fialkova */
    /*--tmaveModra: #3A4454;*/ /* tmave modra */
    /*--svetleModra: #53687E;*/ /* svetle modra */
    /*--text-color: #333;*/ /* Barva textu */

    --cerna: #000000;
    --fialova: #70587C;
    --bordo: #502F4C;
    --levandule: #a687ca;
    --snehova: #F9F4F5;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--snehova)
}

h1 {
    color: var(--bordo);
    font-family: 'Tahoma (sans-serif)', 'Lucida Sans Regular', 'Arial';
}

h2 {
    color: var(--bordo);
}

/* --Login--*/

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Výška stránky */
}

    .login-page h2 {
        color: var(--bordo);
        margin-top: 0; /* Nastaví vrchní odsazení na nulu */
        margin-bottom: 1.5rem; /* Nastaví dolní odsazení */
    }

    .login-page .container {
        max-width: 300px; /* Maximální šíøka formuláøe */
        margin: auto; /* Vycentrování formuláøe */
    }

    .login-page .text-custom {
        color: var(--fialova);
        text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
    }

        .login-page .text-custom:hover {
            text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
        }

/* --Konec loginu--*/

/* --Registrace-- */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Výška stránky */
}

    .register-page h2 {
        color: var(--fialova);
        margin-top: 0; /* Nastaví vrchní odsazení na nulu */
        margin-bottom: 1.5rem; /* Nastaví dolní odsazení */
    }

    .register-page .container {
        max-width: 300px; /* Maximální šíøka formuláøe */
        margin: auto; /* Vycentrování formuláøe */
    }


    .register-page .btn:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
    }

    .register-page .text-custom {
        color: var(--fialova);
        text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
    }

        .register-page .text-custom:hover {
            text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
        }

/* --konec registrace-- */

.btn {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--levandule);
    border-color: var(--levandule);
}

    .btn:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
    }

.text-custom {
    color: var(--bordo);
    text-decoration: none; /* Pokud chceš, aby nebyl podtržený */
}

    .text-custom:hover {
        text-decoration: underline; /* Pøidá podtržení pøi najetí myší */
    }

/* -- index --*/

.index-text {
    text-align: left;
    padding: 10px;
}

h1 {
    color: var(--bordo);
    font-family: 'Tahoma (sans-serif)', 'Lucida Sans Regular', 'Arial';
    text-align: center;
}

.index-conteiner {
    background-color: var(--levandule);
    width: 60rem;
    height: 15rem;
    color: white;
}
