/* BARVICKY */
:root {
    /*--fialova: #6B4E71;*/ /* fialkova */
    /*--tmaveModra: #3A4454;*/ /* tmave modra */
    /*--svetleModra: #53687E;*/ /* svetle modra */
    /*--text-color: #333;*/ /* Barva textu */

    --cerna: #000000;
    --fialova: #70587C;
    --bordo: #502F4C;
    --levandule: #a687ca;
    --snehova: #F9F4F5;
}

html {
    font-size: 14px;
    cursor: url('/images/cursor.png'), auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .profile-grid {
        grid-template-columns: 1fr; /* Pro menší obrazovky jeden sloupec */
    }

    table {
        width: 100%; /* Tabulka bude mít 100% šíøku */
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--snehova);
    justify-content: center;
    cursor: url('/images/cursor.png'), auto;
}

.main-container {
    width: 100%;
    max-width: 1200px; /* Nastavuje maximální šíøku stránky */
    padding: 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

a:link {
    color: var(--levandule); /* Barva odkazu pøed návštìvou */
    cursor: url('/images/cursor.png'), pointer;
}

a:visited {
    color: var(--bordo); /* Barva odkazu po návštìvì */
}

a:hover {
    color: var(--fialova); /* Barva pøi najetí myší */
    text-decoration: none; /* Zvıraznìní textu */
}

a:active {
    color: orange; /* Barva pøi kliknutí */
}


/* kontakty */

.h1-kontakty {
    color: var(--bordo);
    font-family: 'Tahoma (sans-serif)', 'Lucida Sans Regular', 'Arial';
    text-align: center;
}

.h2-kontakty {
    color: var(--bordo);
    text-align: center;
    margin-top: -25px;
}

.p-kontakty{
    text-align: left;
    color: black;
}

.container-kontakty {
    padding: 20px;
    max-width: 400px;
    max-height: 500px;
    margin: initial; /* Vycentrování kontejneru */
    border-radius: 10px;
    border: 2px solid transparent; /* Umoní efekt rozplynutí na okrajích */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Jemnı stín pro zvıraznìní */
    margin-top: 20px;
    background-color: white;
}

.kontakt-mapa {
    display: flex; /* Pouití flexboxu pro zarovnání kontejnerù */
    justify-content: space-between; /* Mezera mezi kontejnery */
}

.container-kontakty, .container-mapa {
    padding: 20px; /* Pøidání paddingu pro vnitøní odsazení */
}

/* Zajistit, e iframe má správnou vıšku a šíøku */
.mapa {
    width: 100%; /* Šíøka mapy */
    height: 300px; /* Vıška mapy */
    border-radius: 10px; /* Zaoblené rohy mapy */
    overflow: hidden; /* Skrytí pøeteèení obsahu */
    border: 2px solid transparent; /* Umoní efekt rozplynutí na okrajích */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


/* --Login--*/
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--snehova);
}

.h2-login {
    margin: -10px 0 10px 0;
    color: var(--bordo);
    text-align: center;
}

.p-login {
    margin: 0;
}

.container-login {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: -150px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.input-container {
    position: relative;
    margin: 20px auto; /* Zmenšené odsazení pro menší mezeru */
    width: 100%; /* Upravte podle potøeby */
}

    .input-container input[type="text"],
    .input-container input[type="password"] {
        font-size: 20px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
    }

    .input-container .label {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--bordo);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .input-container input[type="text"]:focus ~ .label,
    .input-container input[type="text"]:valid ~ .label,
    .input-container input[type="password"]:focus ~ .label,
    .input-container input[type="password"]:valid ~ .label {
        top: -20px;
        font-size: 16px;
        color: var(--bordo);
        background-color: transparent;
    }

    .input-container .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--bordo);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .input-container input[type="text"]:focus ~ .underline,
    .input-container input[type="text"]:valid ~ .underline,
    .input-container input[type="password"]:focus ~ .underline,
    .input-container input[type="password"]:valid ~ .underline {
        transform: scaleX(1);
    }


/* --Konec loginu--*/

/* registrace kontejner*/
.container-register {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: -30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}
/*konec*/

.btn {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--levandule);
    border-color: var(--levandule);
    outline: none;
    cursor: url('/images/cursor.png'), auto;
}

    .btn:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

    .btn:focus {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

.text-custom {
    color: var(--bordo);
    text-decoration: none; /* Pokud chceš, aby nebyl podtrenı */
}

    .text-custom:hover {
        text-decoration: underline; /* Pøidá podtrení pøi najetí myší */
    }

/* -- index --*/

.index-text {
    text-align: left;
    padding: 20px;
}

h1 {
    color: var(--bordo);
    font-family: 'Tahoma (sans-serif)', 'Lucida Sans Regular', 'Arial';
    text-align: center;
}

h2{
    padding: 25px;
    color: var(--bordo);
}


/* Informace o útulku */
.info-container {
    background-color: var(--levandule);
    color: white;
    padding: 30px;
    width: 60%; /* Zmìnìno pro lepší zarovnání vlevo */
    margin-left: 0; /* Zarovnání vlevo */
    border-radius: 15px; /* Zaoblené okraje */
    position: relative;
    font-size: 1.1em;
    border: 2px solid transparent; /* Umoní efekt rozplynutí na okrajích */
    background: linear-gradient(var(--levandule), var(--levandule)) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0), var(--levandule), rgba(255, 255, 255, 0)) border-box; /* Gradientovı efekt */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Jemnı stín pro zvıraznìní */
    margin-top: -70px;
}

/* Kontejner pro vedlejší umístìní kontejneru a obrázku */
.content-container {
    display: flex;
    align-items: center; /* Vertikální zarovnání na støed */
    gap: 150px; /* Mezera mezi kontejnerem a obrázkem */
}

/* Styl pro obrázek */
.logo-image {
    width: 250px; /* Zvıšená šíøka obrázku */
    height: auto;
    border-radius: 10px; /* Zaoblené rohy pro vizuální harmonii s kontejnerem */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Jemnı stín pro zvıraznìní */
}

/* -- profil --*/

.profile-grid {
    display: grid;
    grid-template-columns:  1fr; /* 1. sloupec má šíøku 1fr, 2. sloupec má 2fr */
    gap: 5px; /* Mezera mezi sloupci */
    padding: 40px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .profile-grid {
        grid-template-columns: 0.5fr 1fr;
    }
}

.profile-image {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--fialova);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-details {
    padding-left: 15px; /* Odstup textu od obrázku */
}

table {
    width: 60%;
    max-width: 800px;
    border-collapse: collapse;
    border-color: var(--fialova);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

    table td {
        padding: 10px;
        text-align: left;
    }

        table td strong {
            color: var(--bordo);
        }

    table td {
        color: black;
        font-size: 16px;
    }

.button-profile {
    margin: 10px;
    padding: -50px;
    cursor: url('/images/cursor.png'), auto;
}

.input-container-profile {
    position: relative;
    margin: 10px; /* Zmenšené odsazení pro menší mezeru */
    width: 100%; /* Upravte podle potøeby */
}

    .input-container-profile input[type="password"] {
        font-size: 20px;
        width: 60%;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
    }

    .input-container-profile .label {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--bordo);
        transition: all 0.3s ease;
        pointer-events: none;
        border: none;
    }

    .input-container-profile input[type="password"]:focus ~ .label,
    .input-container-profile input[type="password"]:valid ~ .label {
        top: -20px;
        font-size: 16px;
        color: var(--bordo);
        background-color: transparent;
    }

    .input-container-profile .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 60%;
        background-color: var(--bordo);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .input-container-profile input[type="password"]:focus ~ .underline,
    .input-container-profile input[type="password"]:valid ~ .underline {
        transform: scaleX(1);
    } 

/* Styl pro tlaèítko po kliknutí (focus) */
button[type="button"]:focus {
    background-color: var(--fialova); /* pozadí */
    border: var(--fialova);
    outline: none; /* Odstraní modrı okraj pøi kliknutí */
    cursor: url('/images/cursor.png'), auto;
}

/* Pokud chceš, aby tlaèítko po kliknutí zùstalo èerné i po ztrátì fokusu */
button[type="button"]:active,
button[type="button"]:hover,
button[type="button"]:focus {
    background-color: var(--fialova); /* Èerné pozadí pøi kliknutí */
    color: #fff; /* Bílı text */
    border: var(--fialova); /* Pøípadnì pøidej okraj podle potøeby */
    outline: none;
    cursor: url('/images/cursor.png'), auto;
}

/* --- mùj pes---*/
.container-mujpes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 900px;
}

    .container-mujpes .img {
        max-width: 320px;
        border-radius: 10px;
        margin-right: 80px;
    }

.info-mujpes p {
    margin-left: 30px; /* Posune odstavce více doprava */
}

.info-mujpes {
    max-width: 500px;
}

.karantena-info {
    display: inline-flex;
    align-items: center; /* Zarovná text a ikonu na støed vertikálnì */
    gap: 10px; /* Mezera mezi textem a ikonou */
    position: relative; /* Pro tooltip */
}

.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--levandule); /* Barva ikony */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* Zarovnání textu vevnitø kruhu */
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.tooltip-text {
    display: none; /* Skryje text ve vıchozím stavu */
    position: absolute;
    top: calc(100% + 5px); /* Umístí tooltip tìsnì pod ikonu */
    left: 0; /* Tooltip bude zaèínat zarovnanı s ikonou */
    background-color: var(--snehova); /* Svìtlé pozadí */
    color: var(--bordo); /* Barva textu */
    border: 1px solid var(--bordo); /* Rámeèek */
    border-radius: 5px; /* Zaoblené rohy */
    padding: 5px;
    font-size: 12px;
    white-space: nowrap; /* Zabrání zalomení textu */
    z-index: 10; /* Pøedsune tooltip pøed ostatní prvky */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.tooltip-icon:hover + .tooltip-text {
    display: block; /* Zobrazí tooltip pøi hoveru na ikonu */
}


/* -- Vyøídit rezervaci*/

/* Input pole */
.container-rezervace {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.input-container-rezervace {
    position: center;
    margin: 20px auto; /* Zmenšené odsazení pro menší mezeru */
    width: 30%; /* Upravte podle potøeby */
    text-align: center;
}

.btn-rezervace {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--levandule);
    border-color: var(--levandule);
    color: white;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
    border: none; /* odstraní okraj */
    outline: none; /* odstraní obrys */
    cursor: url('/images/cursor.png'), auto;
}

    .btn-rezervace:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

    .btn-rezervace:focus {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

    .input-container-rezervace input[type="text"] {
        font-size: 20px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
        text-align: center;
    }

    .input-container-rezervace .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 20%;
        background-color: var(--bordo);
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .input-container-rezervace input[type="text"]:focus ~ .underline,
    .input-container-rezervace input[type="text"]:valid ~ .underline {
        transform: scaleX(1);
    }

.btn-rezervace2 {
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--levandule);
    border-color: var(--levandule);
    color: white;
    border-radius: 5px;
    margin-left: 27px;
    padding: 10px;
    border: none; /* odstraní okraj */
    outline: none; /* odstraní obrys */
    cursor: url('/images/cursor.png'), auto;
}

    .btn-rezervace2:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

    .btn-rezervace2:focus {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

/*-- chovatele index --*/

.conteiner-chovatele {
    margin: 12px;
    width: 100%;
}

.table-chovatele-vnejsi {
    width: 100%;
    background-color: transparent;
    color: black;
    max-width: 1400px;
    padding: 0;
}

.td-chovatele {
    text-align: center; /* Horizontální zarovnání obsahu */
    vertical-align: bottom; /* Vertikální zarovnání obsahu */
    
}

.button-chovatele {
    display: flex;
    justify-content: center; /* Horizontální zarovnání */
    align-items: flex-start; /* Vertikální zarovnání */
    gap: 15px; /* Mezera mezi tlaèítky */
    font-size: 40px;
    cursor: url('/images/cursor.png'), auto;
}

    .button-chovatele button,
    .form-button button {
        height: 40px; /* Stejná vıška pro všechna tlaèítka */
        line-height: 40px; /* Vertikální zarovnání textu */
        display: flex; /* Flexbox pro formuláø */
        align-items: center; /* Vertikální zarovnání tlaèítka */
        margin: 5px; /* Zrušení marginu formuláøe */
        padding: 5px; /* Odstranìní jakéhokoli paddingu */
        justify-content: center; /* Zarovnání formuláøe do støedu */
        cursor: url('/images/cursor.png'), auto;
    }


.table-chovatele-vnitrni {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    border-collapse: collapse;
    border: 2px solid #ccc; /* Okraj tabulky */
    border-radius: 10px; /* Zakulacení rohù */
    overflow: hidden; /* Skryje obsah, kterı pøesahuje zakulacení */
/*    max-height: 600px;*/
}

    .table-chovatele-vnitrni td,
    .table-chovatele-vnitrni th {
        border: 1px solid #ccc; /* Ohranièení jednotlivıch bunìk */
        padding: 8px; /* Mezera uvnitø bunìk */
        text-align: left; /* Zarovnání textu */
    }

/*-- pridat psa --*/
#vlastnostiContainer {
    padding-left: 20px;
    margin-left: auto; /* Automatické levé a pravé okraje pro vycentrování */
    margin-right: auto;
    display: none; /* Zaèíná skrytı */
}

.vlastnosti-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dva sloupce */
    gap: 5px; /* Mezera mezi polokami */
    margin-top: 20px;
    margin-left: 150px;
}

.vlastnost-item {
    display: flex;
    align-items: center;
}

    .vlastnost-item input[type="checkbox"] {
        display: none;
    }

    /* Vytvoøení vlastního designu checkboxu */
    .vlastnost-item label {
        position: relative;
        padding-left: 30px; /* Místo pro vlastní checkbox */
        cursor: pointer;
        font-size: 16px;
        margin: 0 5px;
    }

        .vlastnost-item label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
            border: 2px solid #666;
            border-radius: 5px;
            background-color: #fff;
            transition: background-color 0.3s, border-color 0.3s;
        }

    /* Zmìna vzhledu pøi zaškrtnutí */
    .vlastnost-item input[type="checkbox"]:checked + label::before {
        background-color: var(--bordo); /* Zelené pozadí */
        border-color: var(--bordo); /* Zelenı rámeèek */
    }

    /* Zmìna vzhledu pøi zaškrtnutí a pøi najetí myší */
    .vlastnost-item input[type="checkbox"]:checked + label::after {
        content: "\2713";
        position: absolute;
        top: 3px;
        left: 6px;
        font-size: 14px;
        color: white;
    }

    /* Zmìna barvy pøi najetí myší */
    .vlastnost-item input[type="checkbox"]:hover + label::before {
        border-color: var(--bordo);
    }



/*.input-container-rezervace3 {
    position: relative;
    margin-left: 0;
    width: 30%;*/ /* Upravte podle potøeby */
    /*text-align: left;
}*/


.container-pridatPsa {
    max-width: 500px; /* Maximální šíøka kontejneru */
    margin: 20px auto; /* Centrované na stránce */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.input-container-pridatPsa {
    margin-bottom: 5px; /* Mezera mezi sekcemi */
    color: var(--bordo);
}

    .input-container-pridatPsa label,
    .container-pridatPsa label {
        display: block; /* Kadı label bude na samostatném øádku */
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

    .input-container-pridatPsa input,
    .container-rezervace input,
    .container-rezervace select,
    .container-rezervace button {
        width: 100%; /* Zajišuje responzivní šíøku */
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Zohledòuje padding pøi vıpoètu šíøky */
        font-size: 14px;
    }

.container-pridatPsa select {
    /*background-color: #fff;
    cursor: pointer;*/
    background-color: #fff; /* Bílı pozadí */
    border: 1px solid #ccc; /* Svìtle šedı okraj */
    padding: 10px 15px; /* Vnitøní odsazení */
    border-radius: 4px; /* Zaoblené rohy */
    font-size: 16px; /* Velikost písma */
    cursor: pointer; /* Ukazatel pøi najetí */
    width: 100%; /* Vıplò na celou šíøku kontejneru */
    transition: border-color 0.3s ease-in-out; /* Plynulı pøechod pro zmìnu okraje */
}

.container-pridatPsa button {
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Velikost písma pro tlaèítko */
    background-color: var(--levandule);
    outline: none;
    color: white;
    cursor: url('/images/cursor.png'), auto;
}

    .container-pridatPsa button:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }

    .container-pridatPsa button:focus {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
        cursor: url('/images/cursor.png'), auto;
    }


.hidden-file-input {
    display: none;
}

.custom-file-label {
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Velikost písma pro tlaèítko */
    font-weight: normal !important;
    background-color: var(--levandule);
    border-color: var(--levandule);
    outline: none;
    color: white !important;
    width: auto;
    display: inline-block;
}

    .custom-file-label:hover {
        background-color: var(--fialova); /* Barva pøi hoveru */
        border-color: var(--fialova);
    }

#file-name-display {
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

/* Styl pro select pøi focus */
.container-pridatPsa select:focus {
    border-color: var(--fialova); /* Zmìna okraje pøi aktivaci */
    outline: none; /* Odstranìní defaultního rámeèku */

}

/* Styl pro monosti v dropdownu */
.container-pridatPsa select option {
    padding: 10px 15px; /* Vnitøní odsazení pro monost */
    font-size: 16px; /* Velikost písma pro monosti */
}

    /* Styl pro vybranou monost */
    .container-pridatPsa select option:checked {
        background-color: var(--fialova); /* Barva pozadí pro vybranou monost */
        color: white; /* Barva textu pro vybranou monost */
    }


.grid-container-pridatpsa {
    display: grid;
    grid-template-columns: auto auto auto;
}

.info-majitel {
    padding: 5px;
    text-align: center;
}

a.btn.btn-primary {
    color: white;
    cursor: url('/images/cursor.png'), auto;
}

    a.btn.btn-primary:hover {
        color: white;
        cursor: url('/images/cursor.png'), auto;
    }

.stats-page {
    padding: 20px;
}

.stats-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    cursor: url('/images/cursor.png'), auto;
}

    .stats-table th, .stats-table td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ccc;
        cursor: url('/images/cursor.png'), auto;
    }

.stats-table th {
    background-color: var(--levandule);
    color: white;
    font-weight: bold;
}

.stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stats-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.log-page {
    padding: 0; /* Odstranìní vnitøního odsazení */
    margin: 0 auto;
    overflow-y: auto;
    direction: ltr;
    /*max-height: 100vh;*/
    max-height: 400px;
    max-width: 1500px;
    /*box-sizing: border-box;*/
    width: 100%;
}

.log-table {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    direction: ltr; /* Obsah zùstane ve správném smìru */
    cursor: url('/images/cursor.png'), auto;
    direction: ltr;
}

    .log-table th, .log-table td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ccc;
        cursor: url('/images/cursor.png'), auto;
    }

    .log-table th {
        background-color: var(--levandule);
        color: white;
        font-weight: bold;
    }

    .log-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .log-table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    /* Stylování posuvníku */
.log-page::-webkit-scrollbar {
    width: 8px; /* Šíøka posuvníku */
    background-color: #f4f4f4; /* Barva pozadí */
}

.log-page::-webkit-scrollbar-thumb {
    background-color: var(--levandule); /* Barva "palce" posuvníku */
    border-radius: 4px; /* Zakulacení rohu */
}

.log-page::-webkit-scrollbar-thumb:hover {
    background-color: var(--fialova); /* Barva pøi najetí myší */
}

.form-kontakty {
    background-color: white;
    width: 70%; /* Nastavíme šíøku na 50% rodièe */
    max-width: 600px; /* Maximální šíøka pro malé obrazovky */
    margin: 20px auto; /* Automatické zarovnání na støed horizontálnì */
    padding: 15px;
    border-radius: 10px;
    border: 2px solid transparent; /* Umoní efekt rozplynutí na okrajích */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Jemnı stín pro zvıraznìní */
}

    .form-kontakty label {
        color: var(--bordo);
        font-weight: bold;
        font-size: 14px;
    }

    .form-kontakty .form-control {
        border: 1px solid #ccc;
        padding: 8px;
        font-size: 14px;
    }

        .form-kontakty .form-control:focus {
            border-color: var(--fialova);
        }

    .form-kontakty button.btn-primary {
        margin-top: 15px; /* Pøidá mezeru nad tlaèítko */
    }


/*-- emulace --*/

/*emulace-container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}*/

.emulace-page {
    padding: 20px;
    max-width: 1600px;
    width: 100%;
}

.emulace-table {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    cursor: url('/images/cursor.png'), auto;
}

    .emulace-table th, .emulace-table td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ccc;
        cursor: url('/images/cursor.png'), auto;
    }

    .emulace-table th {
        background-color: var(--levandule);
        color: white;
        font-weight: bold;
    }

    .emulace-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .emulace-table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }