@model List<KatalogItem>

@{
    ViewData["Title"] = "Systémový katalog";
}

<h1>Systémový katalog</h1>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert(@Html.Raw(Json.Serialize(TempData["ErrorMessage"])));
    </script>
}

<div class="log-page">

@if (Model != null && Model.Any())
{
        <table class="log-table">
        <thead>
            <tr>
                <th>Název objektu</th>
                <th>Typ objektu</th>
                <th>Stav</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nazev</td>
                    <td>@item.Typ</td>
                    <td>@item.Stav</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>V katalogu nejsou žádná data k zobrazení.</p>
}
</div>