@{
    ViewData["Title"] = "Home Page";
}

<div class="index-text">
    <h1 class="display-4">Vítejte v našem útulku</h1>
    <div class="index-text">
        <h2>Hledáte věrného přítele?</h2>
        <p>Náš útulek nabízí pejsky, kteří čekají na nový domov. Přijďte se podívat nebo si vyberte online.</p>
    <div class="index-conteiner">
            <p>Útulek Lucky </p>

    </div>    
        
    
    </div>
    <p></p>
</div>
